.stickers {
    display: flex;
    justify-content: center;

}
.img1 {
    max-width: 200px;
}


.btn {
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.582);
    border-radius: 5px;
}

.text {
    padding-top: 10px;
    text-align: center;
}